# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Node
node_modules/
.next/
out/
build/
dist/

# OS
.DS_Store
Thumbs.db

# Databases & Runtime Media
*.db
backend/static/audio/*.mp3
backend/static/studio/*.jpg
backend/static/uploads/*
!backend/static/uploads/.gitkeep

